/* Write your code here. */
.card-bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: "roboto";
  font-size: 25px;
  font-weight: 700;
  padding-top: 40px;
}
.profile-container {
  background-color: #cffafe;
  margin: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto";
}
.image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.profile-name {
  color: #1e293b;
  font-size: 18px;
  font-weight: 600;
}
.profile-description {
  color: #1e293b;
  font-size: 14px;
  padding-top: -10px;
}
.logo {
  height: 120px;
  width: 100px;
  margin-top: 15px;
}
